<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>

<section class="container usuarios">

    <h5 style="margin:0;display: inline-block;">Historial de cambios de mobiliarios</h5><br/><br/>
    <!--<div class="input-field">
        <input id="buscar-mobiliario" type="text" ng-model="ctrl.keyword">
        <label style="left:0;" for="buscar-mobiliario">Buscar codigo</label>
    </div>-->
        <div>
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th data-field="id">Código</th>
                        <th data-field="id">Usuario</th>
                        <th data-field="id">Estado</th>
                        <th data-field="id">Area</th>
                        <th data-field="id">Categoria</th>
                        <th data-field="id">Subcategoria</th>
                        <th data-field="id">Tienda</th>
                        <th data-field="id">Fecha Modificación</th>
                    </tr>
                </thead>

                <tbody>
                <tr dir-paginate="stock in ctrl.furnitureHistory.data | itemsPerPage: ctrl.furnitureHistory.per_page" total-items="ctrl.furnitureHistory.total" current-page="ctrl.furnitureHistory.current_page">
                    <td>{{stock.codigo}}</td>
                    <td>{{stock.user.first_name + ' ' + stock.user.last_name}}</td>
                    <td>{{stock.new_status.name}}</td>
                    <td>{{stock.categoria_id.tipo}}</td>
                    <td>{{stock.subcategoria1_id.tipo}}</td>
                    <td>{{stock.subcategoria2_id.tipo}}</td>
                    <td>{{stock.tienda_id.name}}</td>
                    <td>{{stock.date}}</td>
                    <td>
                        <a>
                            <md-tooltip md-direction="top">
                                {{ (track.usuario.first_name == '' && track.usuario.first_name== '')?'No reconocido':(track.usuario.first_name + ' ' + track.usuario.last_name) }}
                            </md-tooltip>
                            {{track.num}}
                        </a>
                    </td>
                    <td>{{track.created_at}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    <dir-pagination-controls ng-disabled="ctrl.disablePaginator" boundary-links="true" on-page-change="ctrl.pageChangeHandler(newPageNumber, $event)"></dir-pagination-controls>
</section>
