<md-dialog aria-label="Reporte de Mobiliario">
    <form ng-cloak style="max-width: 600px;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Descargar reporte</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div id="reporte">
                <div class="row">
                </div>
                <div class="md-dialog-content">
                    <!--<a target="_blank" ng-href="{{modal.excelReport}}">-->
                    <a target="_blank" ng-href="http://lg.neoprojects.com.pe/stock-report/ReporteMobiliarios.xlsx" ng-click="modal.cancelar();">
                        Descargar
                        <!--<img style="left: 7px;right: initial;" class="export-excel-icon" src="http://www.iconsfind.com/wp-content/uploads/2014/01/20140119_52db7037ceecb.png" alt=""/>-->
                    </a>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                Cerrar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>