<div class="row">
    <div class="col s12 m12">
        <h3>Reporte de Stock</h3>
    </div>
    <form class="filtros col s12 m12 ">
        <div class="checkbox-group-container" style="width:7.6%">
            <h6>Área</h6>
            <div class="" ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="categoria in ctrl.categorias">
                        <input type="checkbox" id="{{'cat'+$index}}" ng-change="ctrl.sync(bool, categoria, 'categoria')" ng-model="bool" class="filled-in"/>
                        <label for="{{'cat'+$index}}">{{categoria.tipo}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Categoría</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="subcategoria1 in ctrl.subcategorias1">
                        <input type="checkbox" id="{{'subcat1'+$index}}" ng-change="ctrl.sync(bool, subcategoria1, 'subcategoria1')" ng-model="bool" class="filled-in"/>
                        <label for="{{'subcat1'+$index}}">{{subcategoria1.tipo}}</label>
                    </div>
                </p>

            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Sub Categoría</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="subcategoria2 in ctrl.subcategorias2">
                        <input type="checkbox" id="{{'subcat2'+$index}}" ng-change="ctrl.sync(bool, subcategoria2, 'subcategoria2')" ng-model="bool" class="filled-in"/>
                        <label for="{{'subcat2'+$index}}">{{subcategoria2.tipo}}</label>
                    </div>
                </p>

            </div>
        </div>
        <div class="checkbox-group-container" style="width:7.6%">
            <h6>Región</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="region1 in ctrl.region1">
                        <input type="checkbox" id="{{'reg1'+$index}}" ng-change="ctrl.sync(bool, region1, 'region1')" ng-model="bool" class="filled-in"/>
                        <label for="{{'reg1'+$index}}">{{region1.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 7.6%;">
            <h6>Región II</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="region2 in ctrl.region2">
                        <input type="checkbox" id="{{'reg2'+$index}}" ng-change="ctrl.sync(bool, region2, 'region2')" ng-model="bool" class="filled-in"/>
                        <label for="{{'reg2'+$index}}">{{region2.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 9.6%;">
            <h6>Departamento</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="departamento in ctrl.departamentos">
                        <input type="checkbox" id="{{'depa'+$index}}" ng-change="ctrl.sync(bool, departamento, 'departamento')" ng-model="bool" class="filled-in"/>
                        <label for="{{'depa'+$index}}">{{departamento.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container">
            <h6>Provincia</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                    <div ng-repeat="provincia in ctrl.provincias">
                        <input type="checkbox" id="{{'prov'+$index}}" ng-change="ctrl.sync(bool, provincia, 'provincia')" ng-model="bool" class="filled-in"/>
                        <label for="{{'prov'+$index}}">{{provincia.nombre}}</label>
                    </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 12.6%;">
            <h6><div class="input-field">
                <i class="material-icons sufix" ng-click="ctrl.showModalNuevaTienda()">library_add</i>
                <label for="search-text">Tienda</label>
                <input id="search-text" ng-model="ctrl.searchText"  type="text"/>
            </div>
            </h6>

            <div class="" style="height: 141px; overflow-y:auto; ">
                <p>
                <div ng-repeat="tienda in ctrl.tiendas | filter: ctrl.showItem ">
                    <input type="checkbox" id="{{'tienda'+$index}}" ng-change="ctrl.sync(tienda.bool, tienda, 'tienda')" ng-model="tienda.bool" class="filled-in"/>
                    <label for="{{'tienda'+$index}}">{{tienda.name}}</label>
                </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 8.6%;">
            <h6>Retail</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                <div ng-repeat="retail in ctrl.retails">
                    <input type="checkbox" id="{{'r'+$index}}" ng-change="ctrl.sync(bool, retail, 'retail')" ng-model="bool" class="filled-in"/>
                    <label for="{{'r'+$index}}">{{retail.name.charAt(0).toUpperCase() + retail.name.substr(1).toLowerCase();}}</label>
                </div>
                </p>
            </div>
        </div>
        <div class="checkbox-group-container" style="width: 8.6%;">
            <h6>Tipo</h6>
            <div class=" " ng-scrollbars ng-scrollbars-config="ctrl.config">
                <p>
                <div ng-repeat="tipoTienda in ctrl.tipoTienda">
                    <input type="checkbox" id="{{'ts'+$index}}" ng-change="ctrl.sync(bool, tipoTienda, 'tipoTienda')" ng-model="bool" class="filled-in"/>
                    <label for="{{'ts'+$index}}">{{tipoTienda.name}}</label>
                </div>
                </p>
            </div>
        </div>

    </form>

    <div class="row actions">
        <span us-spinner spinner-key="spinner-1"></span>
        <a ng-disabled="ctrl.disableBtn" class="tooltipped btn-floating green text-center" ng-click="exportToExcel('#table1')" data-position="top" data-delay="50" data-tooltip="Exportar">
            <img class="export-excel-icon" src="http://www.iconsfind.com/wp-content/uploads/2014/01/20140119_52db7037ceecb.png" alt=""/>
        </a>
        <!--<a class="tooltipped btn-floating green text-center" ng-click="exportToExcel('#table2')" data-position="top" data-delay="50" data-tooltip="Exportar 2">
            <img class="export-excel-icon" src="http://www.iconsfind.com/wp-content/uploads/2014/01/20140119_52db7037ceecb.png" alt=""/>
        </a>-->
        <a class="tooltipped btn-floating blue" ng-click="ctrl.printData('table1')" data-position="top" data-delay="50" data-tooltip="Imprimir">
            <i class="material-icons left">print</i>
        </a>
        <a class="btn btn-small" ng-click="ctrl.printData('table2')" >Imprimir detalles</a>
        <a class="btn btn-small" ng-click="ctrl.submit($event)">Filtrar</a>
        <a class="btn btn-small" ng-click="ctrl.submit($event,'sugeridos_baja')">Sugeridos de baja</a>
        <a class="btn btn-small orange darken-4" ng-click="ctrl.cleanFilters($event)">Limpiar Filtros</a>
        <div class="col s12">
            <table id="table1" class="striped bordered centered" border="1" cellspacing="0" cellpadding="3" style="text-align:center;">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Categoria</th>
                        <th>Subcategoria</th>
                        <th>Region1</th>
                        <th>Region2</th>
                        <th>Departamento</th>
                        <th>Provincia</th>
                        <th>Tienda</th>
                        <th>Tipo</th>
                        <th>Retail</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stock in ctrl.stocki" ng-click="ctrl.abrirHistorial(stock);">
                        <td>{{ stock.categoria }}</td>
                        <td>{{ stock.subcategoria1 }}</td>
                        <td>{{ stock.subcategoria2 }}</td>
                        <td>{{ stock.region1 }}</td>
                        <td>{{ stock.region2 }}</td>
                        <td>{{ stock.departamento }}</td>
                        <td>{{ stock.provincia }}</td>
                        <td>{{ stock.tienda }}</td>
                        <td>{{ stock.tipo_tienda }}</td>
                        <td>{{ stock.retail }}</td>
                        <td>{{ stock.cantidad }}</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total: {{ctrl.total}}</td>
                    </tr>
                </tbody>
            </table>
            <table id="table2" class="striped bordered centered" border="1" cellspacing="0" cellpadding="3" style="text-align:center;">
                <thead>
                <tr>
                    <th>Area</th>
                    <th>Categoria</th>
                    <th>Subcategoria</th>
                    <th>Region1</th>
                    <th>Region2</th>
                    <th>Departamento</th>
                    <th>Provincia</th>
                    <th>Tienda</th>
                    <th>Tipo</th>
                    <th>Retail</th>
                    <th>Imagen</th>
                    <th>Codigo</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stock in ctrl.stocki">
                        <td>{{ stock.categoria }}</td>
                        <td>{{ stock.subcategoria1 }}</td>
                        <td>{{ stock.subcategoria2 }}</td>
                        <td>{{ stock.region1 }}</td>
                        <td>{{ stock.region2 }}</td>
                        <td>{{ stock.departamento }}</td>
                        <td>{{ stock.provincia }}</td>
                        <td>{{ stock.tienda }}</td>
                        <td>{{ stock.tipo_tienda }}</td>
                        <td>{{ stock.retail }}</td>
                        <td>
                            <div ng-repeat="c in stock.codigos" class="h60" style="height: 60px;">
                                <img style="width:50px; height: 50px;" class="code-img" src="{{ c.track.track_imagen[0].url }}" alt="codigo: {{ c.codigo }}"/>
                            </div>
                        </td>
                        <td>
                            <div ng-repeat="codigo in stock.codigos" class="h60" style="height: 60px;">
                                {{ codigo.codigo}}
                            </div>
                        </td>
                        <td>{{ stock.cantidad }}</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total: {{ctrl.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    @media print {
        #table2{
            /*display: initial;*/
        }
    }
    @media print {
        tr, th, td{
            border: 1px solid #000 !important !important;
        }
    }
    @media print {
    > tbody > tr > td{
        text-align: right !important;
    }
    }
    @media print {
        .h60{
            height: 60px !important;
        }
    }
</style>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
    });
</script>