<header>
        <div class="row valign-wrapper">
            <div class="col s6">
                <div class="center-align valign-wrapper">     <a ui-sref="index.home">
                    <img class="valign" width="100" src="assets/images/logo-lg.png">
                    <div class="slogan valign">Tracking System</div>
                </a>
                </div>
            </div>
            <div class="col s6 right-align">
                Usuario: Admin<a class="logout" href="" logout><i class="material-icons">exit_to_app</i></a>
            </div>
        </div>
        <ul id="dropdown_usuarios" class="dropdown-content">
            <li><a href="javascript:void(0);">Nuevos Usuarios</a></li>
            <li><a href="javascript:void(0);" >Administrar</a></li>
        </ul>
        <ul id="dropdown_usuarios_mobile" class="dropdown-content">
            <li><a ui-sref="index.users">Nuevos Usuarios</a></li>
            <li><a ui-sref="index.home" >Administrar</a></li>
        </ul>
        <ul id="dropdown_reportes" class="dropdown-content">
            <li><a ui-sref="index.home">Reporte de Stock</a></li>
            <li><a ui-sref="index.tiendas-sin-stock">Reporte de Tiendas sin stock</a></li>
            <li class="divider"></li>
            <li><a ui-sref="index.muebles-categoria">Muebles por Categoría</a></li>
            <li><a ui-sref="index.muebles-subcategoria">Muebles por Sub-categoría</a></li>
            <li><a ui-sref="index.muebles-provincia">Muebles por Provincia</a></li>
            <li><a class="dropdown-button" href='javascript:void(0);' data-activates="dropdown_reportes_pie" data-hover="true">Reportes Pie Chart<i class="material-icons right">arrow_drop_down</i></a></li>
            <li class="divider"></li>
        </ul><ul id="dropdown_reportes_pie" class="dropdown-content">
            <li><a ui-sref="index.muebles-cliente">Muebles por Cliente</a></li>
            <li><a ui-sref="index.muebles-cliente-lima">Muebles por Cliente Lima</a></li>
            <li><a ui-sref="index.muebles-cliente-provincia">Muebles por Cliente Provincia</a></li>
            <li><a ui-sref="index.muebles-region1">Muebles por Region1</a></li>
            <li><a ui-sref="index.muebles-region2">Muebles por Region2</a></li>
            <li><a ui-sref="index.muebles-lima-callao">Muebles Lima/Callao</a></li>
            <li class="divider"></li>
        </ul>
        <nav class="red darken-2">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="hide-on-med-and-down">
                <li><a class="dropdown-button" href='javascript:void(0);' data-activates="dropdown_reportes" data-hover="true">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
                <li ng-class="{active: $state.current.name=='index.furniture'}"><a ui-sref="index.furniture">Mobiliarios</a></li>
                <li ng-class="{active: $state.current.name=='index.users'}">
                    <a ui-sref="index.users">Usuarios</a>
                </li>
                <li ng-class="{active: $state.current.name=='index.tracks'}"><a ui-sref="index.tracks">Tracks</a></li>
                <li style="float:right; "><a ui-sref="index.furniture-history"><i class="material-icons">history</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li ng-class="{active: $state.current.name=='index.home'}"><a ui-sref="index.home">Reportes</a></li>
                <li ng-class="{active: $state.current.name=='index.furniture'}"><a ui-sref="index.furniture">Mobiliarios</a></li>
                <li ng-class="{active: $state.current.name=='index.users'}"><a ui-sref="index.users">Usuarios</a></li>
                <li ng-class="{active: $state.current.name=='index.tracks'}"><a ui-sref="index.tracks">Tracks</a></li>
                <li ng-class="{active: $state.current.name=='index.furniture-history'}"><a ui-sref="index.tracks">Historial</a></li>

            </ul>
        </nav>
    <script>
        $(document).ready(function(){
            $(".dropdown-button").dropdown();
        });
    </script>
</header>