<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios tracking-container">

    <h5>Reporte de Muebles Lima/Callao</h5>
    <br/>
    <div class="row">
        <div class="col s12 m7" ng-if="ctrl.data.length>0">
            <canvas id="pie" class="chart chart-pie" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-options="ctrl.options">
            </canvas>
        </div>
        <div class="col s12 m7" ng-if="ctrl.data.length==0">
            <h6>NO SE ENCONTRARON MUEBLES</h6>
        </div>
    </div>
</section>
