<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios tracking-container">

    <h5>Reporte de Muebles por cliente(retail)</h5>

    <form action="" class="form">
        <div class="row">
            <md-select class="col s10 m10" placeholder="" ng-model="ctrl.status">
                <md-option value="{{estado.tipo}}" ng-repeat="estado in ctrl.estados" >{{estado.nombre}}</md-option>
            </md-select>
            <div class="col s2 m2">
                <md-button class="md-raised md-warn" ng-click="ctrl.generar();">Generar</md-button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s12 m7" ng-if="ctrl.data.length>0">
            <canvas id="pie" class="chart chart-pie" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-options="ctrl.options">
            </canvas>
        </div>
        <div class="col s12 m7" ng-if="ctrl.data.length==0">
            <h6>NO SE ENCONTRARON MUEBLES</h6>
        </div>
    </div>
    <div class="row">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th data-field="id">Retail</th>
                <th data-field="id">Cantidad</th>
                <th data-field="id">% del total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in ctrl.muebles">
                <td>{{data.retail}}</td>
                <td>{{data.total_muebles}}</td>
                <td>{{data.porcentaje + '%'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
