<section class="container usuarios tracking-container">
    <br/>
    <h5>Reporte de Tiendas sin stock</h5>
    <br/>
    <p>Tiendas sin stock: {{ctrl.muebles.total}} ({{ctrl.porcentajeTiendasSinStock.toFixed(2)}}%)</p>
    <p>Tiendas con stock: {{ctrl.mueblesConStock.total}} ({{ctrl.porcentajeTiendasConStock.toFixed(2)}}%)</p>
    <p>Total de tiendas: {{ctrl.tiendas.length}}</p>
    <div class="row">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th data-field="id">Tienda</th>
                <th data-field="id">Retail</th>
                <th data-field="id">Direccion</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="mueble in ctrl.muebles.data | itemsPerPage: ctrl.muebles.per_page"
                total-items="ctrl.muebles.total"
                current-page="ctrl.muebles.current_page">
                <td>{{mueble.tienda}}</td>
                <td>{{mueble.retail}}</td>
                <td>{{mueble.direccion}}</td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls ng-disabled="ctrl.disablePaginator" boundary-links="true" on-page-change="ctrl.pageChangeHandler(newPageNumber, $event)"></dir-pagination-controls>
    </div>
</section>
