<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios tracking-container">

    <h5>Reporte Retail(Lima)</h5>

    <div class="row">
        <div class="col s12 m7" ng-if="ctrl.data.length>0">
            <canvas id="pie" class="chart chart-pie" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-options="ctrl.options">
            </canvas>
        </div>
        <div class="col s12 m7" ng-if="ctrl.data.length==0">
            <h6>NO SE ENCONTRARON MUEBLES</h6>
        </div>
    </div>
    <div class="row">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th data-field="id">Retail</th>
                <th data-field="id">Cantidad</th>
                <th data-field="id">% del total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in ctrl.muebles">
                <td>{{data.retail}}</td>
                <td>{{data.total_muebles}}</td>
                <td>{{data.porcentaje + '%'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
