<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container">

    <h5>Reporte de Muebles por Provincia</h5>
    <div class="row">
        <div class="col s12 m12" ng-if="ctrl.data.length>0">
            <canvas id="base" class="chart chart-bar" chart-data="ctrl.data" chart-labels="ctrl.labels">
            </canvas>
        </div>
        <div class="col s12 m12" ng-if="ctrl.data.length==0">
            <h6>NO SE ENCONTRARON MUEBLES</h6>
        </div>
    </div>
    <div class="row">
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th data-field="id">Provincia</th>
                <th data-field="id">Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in ctrl.muebles">
                <td>{{data.provincia}}</td>
                <td>{{data.cantidad}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
