<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container">

    <h5>Reporte de Muebles por categoria</h5>
    <br/>
    <div class="row">
        <div class="col s12 m12" ng-if="ctrl.data.length>0">
            <canvas id="base" class="chart chart-horizontal-bar" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-series="ctrl.series" chart-options="ctrl.options">
            </canvas>
        </div>
        <div class="col s12 m12" ng-if="ctrl.data.length==0">
            <h6>NO SE ENCONTRARON MUEBLES</h6>
        </div>
    </div>
</section>
