<section class="container">
    <div class="row">
        <div></div>
    </div>
</section>
<section class="container usuarios">
    <div class="row">
        <nav class="red darken-2">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a ui-sref="index.furniture" class="breadcrumb">Mobiliario</a>
                    <a class="breadcrumb">Editar</a>
                    <a class="breadcrumb" style="float:right;">{{'Tienda: ' + ctrl.stock.tienda.name + ', Codigo: ' + ctrl.stock.codigo}}</a>
                </div>
            </div>
        </nav>
        <!--<div ng-include="'app/pages/furniture/views/templates/furniture.form.html'"></div>-->
        <form class="col s12">
            <div class='row'>
                <div class='col s12'>
                </div>
            </div>

            <div class='row' ng-if="ctrl.track.track_imagen.length>0">
                <div class='input-field col s12'>
                    <div class="col s3" ng-repeat="image in ctrl.track.track_imagen">
                        <img class="responsive-img"  src="{{image.url}}" src="" alt=""/>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="ctrl.stock.sugerencia_baja_antes_de_alta==1 && ctrl.stock.status==5">
                <div class="input-field col s12">
                    <div class="col s12">
                        <md-checkbox ng-model="ctrl.sbada" aria-label="Checkbox 1">
                            <p style="margin-top: 0;"class="red-text text-darken-2">Este mueble tiene una sugerencia de baja, dar de baja?</p>
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <div class="row" ng-if=" ctrl.stock.status==4">
                <div class="input-field col s12">
                    <div class="col s12">
                        <md-checkbox ng-model="ctrl.stock_status" aria-label="Checkbox 1" ng-true-value="1" ng-false-value="4">
                            <p style="margin-top: 0;"class="red-text text-darken-2">Dar de alta al mueble?</p>
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Código único GERP:</p>
                    </div>
                    <div class="col s11">
                        <input type="text" ng-model="ctrl.stock.codigo_gerp"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Area</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Seleccionar área" ng-model="ctrl.stock.categoria_id">
                            <md-option value="">Seleccionar area</md-option>
                            <md-option value="{{area.id}}" ng-repeat="area in ctrl.areas" >{{area.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Categoría</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Seleccionar categoría" ng-model="ctrl.stock.subcategoria1_id">
                            <md-option value="">Seleccionar categoría</md-option>
                            <md-option value="{{categoria.id}}" ng-repeat="categoria in ctrl.categorias" >{{categoria.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Subcategoria</p>
                    </div>
                    <div class="col s11">
                        <md-select class="width-100" placeholder="Seleccionar subcategoría" ng-model="ctrl.stock.subcategoria2_id">
                            <md-option value="">Seleccionar subcategoría</md-option>
                            <md-option value="{{subcategoria2.id}}" ng-repeat="subcategoria2 in ctrl.subcategorias" >{{subcategoria2.tipo}}</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Precio(S/)</p>
                    </div>
                    <div class="col s11">
                        <input type="text" ng-model="ctrl.stock.precio" ui-number-mask="2"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">N° Factura</p>
                    </div>
                    <div class="col s11">
                        <input type="text" ng-model="ctrl.stock.numero_factura"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Fecha de adquisición</p>
                    </div>
                    <div class="col s11">
                        <input type="date" class="datepicker" ng-model="ctrl.stock.fecha_adquisicion">
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Vida útil</p>
                    </div>
                    <div class="col s11">
                        <input type="text" ng-model="ctrl.stock.vida_util"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Proveedor <span ng-bind="ctrl.stock.proveedor.name"></span></p>
                    </div>
                    <div class="col s11 input-proveedor">
                        <md-autocomplete
                                md-no-cache="true"
                                md-selected-item="ctrl.stock.proveedor"
                                md-select-on-match="ctrl.selectOnMatch"
                                md-match-case-insensitive="true"
                                md-search-text="ctrl.searchProveedor"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="proveedor in ctrl.proveedores | filter: ctrl.searchProveedor"
                                md-item-text="proveedor.nombre"
                                md-min-length="0"
                                placeholder="Seleccionar o agregar un proveedor">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchProveedor" md-highlight-flags="^i">{{proveedor.nombre}}</span>
                            </md-item-template>
                            <md-not-found>
                                No se encontró resultado para: "{{ctrl.searchProveedor}}", se creará un nuevo registro
                            </md-not-found>
                        </md-autocomplete>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <div class="col s2">
                        <p class="red-text text-darken-2">Comentario</p>
                    </div>
                    <div class="col s11">
                        <input type="text" ng-model="ctrl.stock.comentario" placeholder="Escriba algun comentario..."/>
                    </div>
                </div>
            </div>
            <br />
            <center>
                <div class='row'>
                    <button ng-click="ctrl.submit($event)" type='submit' class='col offset-s3 s6 btn btn-large waves-effect red darken-2'>Editar</button>
                </div>
            </center>
        </form>
    </div>
</section>

<div class="container">

</div>

<style>
    .input-proveedor input{
        padding-left: 6px !important;
    }
</style>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>